@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@layer utilities {
  .marquee-container { overflow: hidden; }
  .marquee { width: max-content; animation: marquee 30s linear infinite; }
}
